body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.container {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.profile-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.form-group button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

.success-message, .error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

.success-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0; /* Ajusta según sea necesario */
    padding: 10px; /* Ajusta según sea necesario */
    color: green;
    background-color: #e6ffe6; /* Color de fondo para resaltar el mensaje */
    border: 1px solid #b3ffb3; /* Borde para el mensaje */
    border-radius: 5px;
}

.error-message {
    color: red;
    background-color: #ffe6e6;
    border: 1px solid #ffb3b3;
}
