/* register.php */
body {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.register-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.register-form h2 {
    margin-bottom: 20px;
}

.register-form input,
.register-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.register-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #0056b3;
}

.register-form .register-text {
    margin-top: 20px;
}

.register-form .register-text a {
    color: #007BFF;
}

.register-form .register-text a:hover {
    text-decoration: underline;
}
